*{
	padding: 0;
	margin: 0;
}
/*.collepse-item.active .icon .fa-plus{
	display: none;
}
.collepse-item.active .icon .fa-minus{
	display: block;
}*/
.item-head {
	display: flex;
	align-items: center;
	background: #d8d8d8;
	transition: .5s;
}
.item-head:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
.item-head h3 {
	flex: 1;
	padding: 30px 20px;
}
.item-head .icon {
	padding: 30px;
}
.item-head .icon .fa-minus {
	display: none;
}
.item-collepse {
	background: #efefef;
	margin-bottom: 30px;
	display: none;
}